* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

:root {
  --yellow: #ffd52d;
  --black: #19161c;
  --green: #42E2B8;
  --pink: #F4ACB7;
}

#root{
  width: 100%;
  max-width: 768px;
}

body {
  padding: 32px 0 0;
  background: var(--black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}